.header {
  height: 95vh; /* vh = viewport height */
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8), /* in Sass you can use hexa-values w opacity, in reg CSS not */
    rgba($color-primary-dark, 0.8)),
    url(../img/hero.jpg);
  background-size: cover; /* fits the image to the viewport as well as possible */
  background-position: top;
  position: relative;

  /* Clipping out part of the background! */
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    backface-visibility: hidden; /* If animation is shaky, this should be "hidden"! Defines if the background of an element visible or hidden for the user in transitions? */
    text-align: center;
  }
}
