.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0 32rem 0;
  margin-top: -20vh; // to move the background up to cover the area cut out from the header section.

  @include respond(desktop) {
    padding: 20rem 4rem;
  }

  @include respond(tab-port) {
    padding-top: 15rem;
    padding-bottom: 30rem;
  }

}

.section-features {
  padding: 25rem 0;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8), /* in Sass you can use hexa-values w opacity, in reg CSS not */
    rgba($color-primary-dark, 0.8)),
    url(../img/nat-4-small.png);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -20rem; //to move the section up to cover the area cut out w skew.

  // unskew the child elements with DIRECT SELECTOR, * selects all
  & > * {
    transform: skewY(7deg);
  }

  //responsive bg image
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8), /* in Sass you can use hexa-values w opacity, in reg CSS not */
      rgba($color-primary-dark, 0.8)),
      url(../img/nat-4.jpg);
  }

  @include respond(desktop) {
    padding: 13rem 4rem;
  }

  @include respond(tab-port) {
    padding: 15rem 2rem 10rem 2rem;
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 35rem 0 10rem 0;

  margin-top: -20rem; //to cover area cut out

  @include respond(desktop) {
    padding: 30rem 4rem 15rem 4rem;
  }

  @include respond(tab-port) {
    padding: 30rem 0 10rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  background: $linear-gradient-green;
  padding: 15rem 0;
  width: 100%;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.book {
  background-image: -webkit-linear-gradient(15deg, rgba($color-white, .9) 0%,
  rgba($color-white, .9) 50%,
  transparent 50%);
  background-image: -o-linear-gradient(15deg,
  rgba($color-white, .9) 0%,
  rgba($color-white, .9) 50%,
  transparent 50%);
  background-image: linear-gradient(105deg,
  rgba($color-white, .9) 0%,
  rgba($color-white, .9) 50%,
  transparent 50%),
  url(../img/nat-10.jpg);

  background-size: cover;
  border-radius: $border-radius;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

  @include respond(tab-land) {
    background-image: -webkit-linear-gradient(105deg, rgba($color-white, .9) 0%,
    rgba($color-white, .9) 65%,
    transparent 65%);
    background-image: -o-linear-gradient(105deg,
    rgba($color-white, .9) 0%,
    rgba($color-white, .9) 65%,
    transparent 65%);
    background-image: linear-gradient(105deg,
    rgba($color-white, .9) 0%,
    rgba($color-white, .9) 65%,
    transparent 65%),
    url(../img/nat-10.jpg);

    @include respond(tab-port) {
      background-image: -webkit-linear-gradient(to right, rgba($color-white, .9) 0%,
      rgba($color-white, .9) 100%);
      background-image: -o-linear-gradient(to right,
      rgba($color-white, .9) 0%,
      rgba($color-white, .9) 100%);
      background-image: linear-gradient(to right,
      rgba($color-white, .9) 0%,
      rgba($color-white, .9) 100%),
      url(../img/nat-10.jpg);
    }

  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 50%;
    }

    @include respond(tab-land) {
      width: 100%;
    }
  }

}
